/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('/path/to/your/image.jpg');
  /* Use the same background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  
  /* Prevent scrolling */
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.login-form {
  background: rgba(255, 255, 255, 0.01);
  padding: 30px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  text-align: center;
}

.login-form h1,
.login-form h2,
.login-form .form-label,
.login-form p,
.login-form a {
  color: white;
}

.login-form h1,
.login-form h2 {
  color: rgb(255, 255, 255);
}

.login-form .form-label {
  color: #ffffff;
}

.login-btn .new-user-btn {
  background: linear-gradient(45deg, #ff6f61, #de4313);
  color: #fff;
  border: none;
  width: 100%;
  padding: 9px;
  font-size: 1.2rem;
  margin-top: 20px;
}

.login-btn-su {
  background: linear-gradient(45deg, #ff6f61, #de4313);
  color: #fff;
  border: none;
  width: 30%;
  /* padding: 15px; */
  font-size: 0.8rem;
  /* margin-top: 20px; */
}

.login-form .btn-primary:hover {
  background: black;
  color: #fff;
}

.login-form .btn-outline-danger {
  padding: 10px 20px;
  font-size: 1rem;
}

.gradient-custom-2 {
  background: linear-gradient(45deg, #ff6f61, #de4313);
  color: #fff;
}

.text-center {
  text-align: center;
}